body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
div{
    border: 1px;
    border-style: solid;
    border-color: black;
}
input{
    width: 100%;
    font-size: 40px;   
}

input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.clNumeros, .clOperacoes{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 40px;
}
#idApagar:hover, .clOperacoes:hover, .clNumeros:hover{
    background-color: gray;
}
#idCorpo{
    display: inline-block;
    width: 75vw;
    max-width: 400px;
    grid: 2px;
    min-width: 284px;
    padding: 10px;
    border-radius: 5%;
    border-width: 10px;
}
#idParteSuperior{
    display: flex;
}
#idTela{
    display: flex;
    height: 80px;
    width: 75vw;
    min-width: 210px;
}
#idApagar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
    padding-right: 2px;
    font-size: 40px;
    min-width: 70px;
}
#idNumerosEOperacoes{
    min-width: 140px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}